{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer id="contact" class="footer-container">
    <div class="footer-left">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="logo"/>
        <span class="brand">MyBlog</span>
    </div>

    <div class="footer-middle">
        <span class="title">Resources</span>
        <a href="#blog-result" class="categories">Blogs</a>
        <a href="#blog-result" class="categories">Topics</a>
        <a href="#blog-result" class="categories">News and Stories</a>
    </div>

    <div class="footer-right">
        <a href="https://www.linkedin.com/in/sandhiya-bhoopathi/" target="_blank">
            <img class="small-icon" src="{% static 'img/linkedin.png' %}">
            <span>LinkedIn</span>
        </a>
        <a href="https://github.com/sandhiyabhoopathi-b" target="_blank">
            <img class="small-icon" src="{% static 'img/github.png' %}">
            <span>GitHub</span>
        </a>
        <a href="https://www.instagram.com/sandhiya8290?igsh=bHB2Y2M1bG1vdHIr">
            <img class="small-icon" src="{% static 'img/instagram.png' %}">
            <span>Instagram</span>
        </a>
    </div>
</footer>
