{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/update.css' %}">
{% endblock %}

{% block content %}
<div class="update-container">
    <h2>Update Your Blog</h2>

    <form method="POST" class="update-form">
        {% csrf_token %}
        
        <label>Title</label>
        <input type="text" name="title" value="{{ post.title }}" required>

        <label>Content</label>
        <textarea name="content" class="content-box" required>{{ post.content }}</textarea>

        <button type="submit">Update</button>
    </form>
</div>
{% endblock %}
